html {
  padding: 0;
  margin: 0;
}

.top-nav, 
.bottom-nav, 
.fa-times, 
.partners, 
footer, 
.bottom-txt {
  display: none;
}

.main {
    width: 100%;
    max-width: 768px;
    /* padding: 1rem .25rem; */
}

img {
  width: 100%;
}

.lang-cards {
  display: flex;
  flex-direction: column;
}

.program {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.team-members {
  width: 100%;

}

.members .col-1 {
  display: flex;
  flex-direction: column;
}

.members .col-2 {
    display: flex;
    flex-direction: column;
  }

.member {
  display: flex;
  align-items: center;
}

.member img {
    width: 110px;
    height: 127px;
    margin-right: 1em;
}